.divSearch{
    padding:1em;
    margin-right: 1em;
    display:flex;
    justify-content: center;

}
button{
    padding: 0.5em;
    background-color: #EE0000;
    color: white;
    border: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-right:40px;
}

button:hover{
    background-color: #FDB101;

    cursor: pointer;
}


input{
    background-color: #E9E9ED; 
    padding: 5px;
    border: 1px solid lightgray;
    font-weight: bold;
}
input:hover{
    background-color: #F8F8F9;
    cursor: pointer;

}

